<div class="layout layout--top pt--1 px--5 pb--5">
  <div class="grid grid--cols-5 gap--10">
    {% for day in days %}
      <div class="text--center">
          <div class="font--bold text--xl lg:title--large" style="line-height: 1;">{{ day.date | date: "%A" | upcase }}</div>
          <div class="label--underline mb--0 text--lg lg:title--base" style="line-height: 1;">{{ day.date | date: "%m/%d" }}</div>

          {% if day.image != "" %}
            <img src="{{ day.image }}" class="image image--contain h--[30cqh] lg:portrait:h--[20cqh] mt--2 mb--2 w--full" />
          {% endif %}

          <div class="title title--small lg:title--base font--bold mb--1" style="line-height: 1.1;">{{ day.main }}</div>
          <div class="description text--md lg:description--base" style="line-height: 1.1;">
            {{ day.sides }}
          </div>
      </div>
    {% endfor %}
  </div>
</div><div class="title_bar">
  <span class="title">{{ school_name }}</span>
  <span class="instance">Lunch Menu</span>
</div>
