<div class="layout layout--col layout--top pt--0 px--5 pb--5">
  <div class="w-full">
    <table class="table">
      <tbody>
        {% for day in days %}
          <tr>
            <td class="w--20 text--center py--4 lg:py--8">
              <div class="font--bold text--lg lg:title--base" style="line-height: 1.1;">{{ day.date | date: "%a" | upcase }}</div>
              <div class="label text--md lg:text--xl">{{ day.date | date: "%m/%d" }}</div>
            </td>
            <td class="w--30 lg:w--40 text--center py--4 lg:py--8 px--2">
              {% if day.image != "" %}
                <img src="{{ day.image }}" class="image image--contain h--[10cqh] lg:h--[18cqh]" />
              {% endif %}
            </td>
            <td class="w--50 lg:w--40 py--4 lg:py--8">
              <div class="title text--lg lg:title--base">{{ day.main }}</div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="title_bar">
  <img class="image" src="https://trmnl.com/images/plugins/trmnl--render.svg">
  <span class="title">{{ school_name }}</span>
  <span class="instance">Lunch Menu</span>
</div>
